[project]
	description = mongodb all weeks homwork
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/V-K-Singh
[access "refs/for/refs/*"]
	read = group user/V-K-Singh
	push = group user/V-K-Singh
	label-Code-Review = -2..+2 group user/V-K-Singh
	label-Verified = -1..+1 group user/V-K-Singh
	rebase = group user/V-K-Singh
	removeReviewer = group user/V-K-Singh
	submit = group user/V-K-Singh
[access "refs/heads/*"]
	read = group user/V-K-Singh
	create = group user/V-K-Singh
	push = +force group user/V-K-Singh
	pushMerge = group user/V-K-Singh
[access "refs/tags/*"]
	push = +force group user/V-K-Singh
	pushTag = group user/V-K-Singh
	pushSignedTag = group user/V-K-Singh
